<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dean.cyanideviewer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="net.dean.cyanideviewer.CyanideViewer"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FavoritesActivity"
            android:label="@string/title_activity_favorites" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <receiver android:name=".api.comic.BitmapDownloadTask$NotificationReceiver" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="f8263e4a0031e704a27934ca476ab309786a5529"/>
    </application>

</manifest>
